body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f2937;
    padding-top: 10px;
    height: 500px;
}

body >* {
    padding-left: 275px;
    padding-right: 275px;
}

.header, .top-content {
    display: flex;
    justify-content: space-between;
}



.top-content {
    align-items: center;
    height: 400px;
}

.top-right {
    background-color: gray;
    padding: 100px 200px;
    margin-left: 30px;
}

.top-left-top {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.top-mid {
    display: flex;
    flex: 1;
}

.text {
    font-size: 18px;
    color: #e5e7eb;
}

.top-logo {
    font-size: 24px;
    color: f9faf8;
}



.button {
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 5px;
    padding: 5px 10px;
}

.top-button {
    border: none;
}

.top-mid {
    flex-direction: column;
}

.top-mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    margin: 10px;
    margin-top: 0px;
}

.top-mid-content {
    flex-direction: column;
    margin: 20px;
    margin-bottom: 50px;
}

.image {
    width: 150px;
    height: 150px;
    border: #3882f6 solid;
    border-radius: 10px;
}

.top-mid-text {
    width: 150px;
    font-size: 18px;
    text-align: center;
}

.top-mid-header {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    margin: 20px;
    margin-bottom: 0px;
    color: #1f2937;
}

.bottom-mid {
    height: 275px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-mid-quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: auto 80px;
}

.bottom-mid-quote-person {
    font-size: 18px;
    font-weight: bold;
    text-align: end;
    margin-right: 130px;
}

.bottom {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-content {
    height: 100px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.bottom-content > * {
    padding: 50px;
}

.bottom-content-left-top {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.bottom-content-button {
    border-color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
}
